/****** HEADER ******/
#header {
    position: fixed;
    height: 70px;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: #555;
    color: #eee;
}
#header .logo {
    padding: 10px 10px 5px 20px;
    height: 70px;
}
#header a {
    color: #eee;
}
#header a:hover {
    color: #bfbfbf;
}
#header i {
    font-size: 1.3em;
    padding: 25px 0;
}


/****** MAIN ******/
#main {
    position: fixed;
    top: 70px;
    bottom: 0;
    right: 0;
    left: 0;
    overflow-y: auto;
}
#main .row.collapse {
    height: 100%;
}
#main .sidebar {
    padding-top: 14px;
    background-color: #555;
    height: 100%;
}
#main .sidebar a {
    color: #eee;
}
#main .sidebar a:hover {
    color: #ccc;
}
#main .content {
    position: fixed;
    top: 60px;
    left: 16.66667%;
    bottom: 0;
    right: 0;
}
#blank {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
#blank .login-form {
    padding: 12px;
}


/****** SETTINGS PAGE ******/
#settings-page {
    padding: 24px;
}


/****** POSTS PAGE ******/
.posts-list {
    position: relative;
    height: 100%;
}
.posts {
    width: 35%;
    height: 100%;
    overflow-y: scroll;
}
.posts .post {
    padding: 12px 24px;
    border-bottom: 1px solid #ddd;
}
.posts .post:hover {
    background-color: #efefef;
    cursor: pointer;
}
.posts h3 {
    font-size: 1.4em;
    font-weight: bold;
    margin: 0;
}
.posts span {
    color: #666;
    font-style: italic;
    font-size: 0.9em;
}
#posts-list-preview {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    padding: 45px 60px 20px;
    width: 65%;
    height: 100%;
    left: 35%;
    top: 0;
    border-left: 1px solid #ddd;
    overflow-y: scroll;
}
#edit-post {
    position: absolute;
    top: 8px;
    right: 25px;
}


/****** EDITOR ******/
#edit-page {
    position: relative;
    height: 100%;
}
#post-editor {
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    color: #333;
    border: 0;
    padding: 75px 18px 14px;
    margin: 0;
    font-size: 1.1em;
    width: 50%;
    height: 100%;
    resize: none;
    outline: none;
    box-shadow: none;
}
#post-editor:focus {
    outline: none;
    border: 0;
    box-shadow: none;
}
#post-preview,
#post-settings {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    padding: 75px 30px 0;
    margin: 0;
    width: 50%;
    height: 100%;
    left: 50%;
    top: 0;
    border-left: 1px solid #ddd;
    overflow-y: scroll;
    z-index: 5;
}
#post-settings {
    background-color: #fefefe;
    z-index: 10;
}
#post-form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #ccc;
    z-index: 20;
}
#post-title {
    font-size: 1.9em;
    border: 0;
    margin: 0;
    padding: 0;
    outline: none;
    box-shadow: none;
    padding: 8px 8px 8px 12px;
}
#post-title:focus {
    outline: none;
    border: 0;
    box-shadow: none;
}
#save-post, #publish-post, #open-settings {
    padding: 18px 12px;
    border-radius: 0;
    margin: 0;
}


/****** POST CONTENT ******/
.post-preview {
    font-size: 62.5%;
}
.post-preview a {
  color: #337ab7;
}
.post-preview p {
  font-size: 2em;
  margin-bottom: 22px;
}
.post-preview blockquote {
  color: #808080;
  font-style: italic;
  font-size: 1em;
  border-left: 6px solid #ccc;
}
.post-preview hr {
  border-top: 1px solid #ccc;
}
.post-preview h1 {
  font-size: 4.4em;
  margin-bottom: 20px;
}
.post-preview h2 {
  font-size: 3.6em;
  margin-bottom: 14px;
}
.post-preview h3 {
  font-size: 2.6em;
  margin-bottom: 14px;
}
.post-preview h4,
.post-preview h4 {
  font-size: 2em;
  margin-bottom: 12px;
}
.post-preview pre {
  margin: 20px 0;
  font-size: 2em;
  background-color: #f5f8fa;
  padding: 12px;
}
.post-preview code {
  border-radius: 0;
  padding: 3px 4px;
  font-size: 92%;
  background-color: transparent;
  color: #272727;
  border: none;
}
.post-preview ul, .post-preview ol {
  font-size: 2em;
  margin-bottom: 22px;
}