@Master['admin:layouts/main.html']

@Section['Content']
<div id="edit-page">
    <input type="hidden" id="post-type" value="@Model.Post.Type" />
    <input type="hidden" id="post-id" value="@Model.Post.Id" />
    <div id="post-form" class="input-group">
        <input type="text" id="post-title" class="input-group-field" placeholder="Title..." value="@Model.Post.Title" />
        <div class="input-group-button">
            <button type="button" id="save-post" class="button"><i class="fa fa-edit"></i> Save</button>
            <button type="button" id="publish-post" class="success button"><i class="fa fa-check"></i> Publish</button>
            <button type="button" id="open-settings" class="button"><i class="fa fa-cog"></i> Settings</button>
        </div>
    </div>
    <textarea id="post-editor">@Model.Post.Body</textarea>
    <div id="post-preview" class="post-preview"></div>
    <div id="post-settings" class="hide post-settings">
        <form>
            <div class="row">
                <div class="columns">
                    <h3>@If.Post.IsPage Page @EndIf@IfNot.Post.IsPage Post @EndIf Settings</h3>
                    @If.IsDraft
                    <p>Preview Url: <a href="@Model.Settings.SiteUrl/preview/@Model.Post.Slug" alt="Preview Link" target="_blank">@Model.Settings.SiteUrl/preview/@Model.Post.Slug <i class="fa fa-external-link"></i></a></p>
                    @EndIf
                    <label>Slug
                        <input type="text" id="post-slug" name="Slug" value="@Model.Post.Slug" />
                    </label>

                    <label>Published (Shown in local timezone)
                        <input type="text" id="post-published" name="Published" value="@Model.Post.Published" />
                    </label>

                    <fieldset>
                        <input type="checkbox" id="InMenu" name="InMenu" @If.Post.InMenu checked="checked" @EndIf><label for="InMenu">Show In Menu</label>
                    </fieldset>
                    
                    <button type="button" id="close-settings" class="button">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>
@EndSection