@Master['admin:layouts/blank.html']

@Section['Content']
<div id="blank" class="row align-middle align-center">
    <div class="column small-6 text-center">
        <h1>@Model.Title</h1>
        <hr />
        <h2>Oops. Something went wrong</h2>
        <h4>There was an error trying to process your request</h4>
        <h4>Try again, go back, or go to the <a href="@Model.SiteUrl">main page</a></h4><br />

        @If.ShowError
        <div class="callout warning text-left" style="overflow: auto">
            <h4>Error details</h4>
            <p>@Model.Error</p>
            <hr />
            <p>@Model.FullError</p>
        </div>
        @EndIf
    </div>
</div>
@EndSection