@Master['admin:layouts/main.html']

@Section['Content']
<div class="posts-list">
    <div class="posts">
        @Each.Posts
        <div class="post" data-id="@Current.Id" data-type="@Current.Type">
            <h3>@Current.Title</h3>
            <span>
                @If.IsPage Page @EndIf
                @IfNot.IsPage Post @EndIf
                -
                @If.IsPublished @Current.FriendlyPublishDate @EndIf
                @IfNot.IsPublished Draft @EndIf
            </span>
            <input type="hidden" class="post-body" value="@!Current.Body" />
        </div>
        @EndEach
    </div>
    <div id="posts-list-preview" class="post-preview">
        <h4 class="text-center subheader">Select a post on the left or <a href="/admin/post">create a new one</a></h4>
    </div>
    <a href="#" id="edit-post" class="button success hide" alt="Edit" title="Edit"><i class="fa fa-edit"></i> Edit</button>
</div>
@EndSection