@Master['admin:layouts/blank.html']

@Section['Content']
<div id="blank" class="row align-middle align-center">
    <div class="column small-4">
        @If.IsError
        <div class="alert callout">
            <p>@Model.Error</p>
        </div>
        @EndIf
        <h2 class="text-center">@Model.Settings.SiteTitle</h2>
        <div class="callout primary">
            <form class="login-form" action="/admin/login" method="POST">
                <label>Email address
                    <input type="text" name="email" placeholder="Email address" />
                </label>

                <label>Password
                    <input type="password" name="password" placeholder="Password" />
                </label>

                <fieldset>
                    <input type="checkbox" id="rememberMe" name="rememberMe"><label for="rememberMe">Keep me logged in</label>
                </fieldset>

                <button type="submit" class="success button expanded">Login</button>
            </form>
        </div>
    </div>
</div>
@EndSection