@Master['admin:layouts/blank.html']

@Section['Content']
<div id="blank" class="row align-middle align-center">
    <div class="column small-6 text-center">
        <h1>@Model.Title</h1>
        <hr />
        <h2>Oops. Page Not Found</h2>
        <h4>The page you are looking for does not exist.</h4>
        <h4>Go back, or go to the <a href="@Model.SiteUrl">main page</a></h4>
    </div>
</div>
@EndSection