@Master['admin:layouts/main.html']

@Section['Content']
<div id="settings-page">
    <div class="row">
        <div class="medium-2 columns">
            <h3>Settings</h3>
            <ul class="settings-menu menu vertical">
                <li class="active"><a href="#" data-tab="settings-main">Main</a></li>
                <li><a href="#" data-tab="settings-account">Account</a></li>
                <li><a href="#" data-tab="settings-import">Import/Export</a></li>
            </ul>
        </div>
        <div class="medium-6 columns">
            <form action="/admin/settings" method="POST">
                <div id="settings-main" class="settings-tab">
                    <h4>Main Site Settings</h4>
                    <label>Site Title
                        <input type="text" name="SiteTitle" value="@Model.Settings.SiteTitle" />
                    </label>

                    <label>Site Sub-Title
                        <input type="text" name="SiteSubTitle" value="@Model.Settings.SiteSubTitle" />
                    </label>

                    <label>Site URL
                        <input type="text" name="SiteUrl" value="@Model.Settings.SiteUrl" />
                    </label>

                    <label>Site Description
                        <input type="text" name="SiteDescription" value="@Model.Settings.SiteDescription" />
                    </label>

                    <label>Posts Per Page
                        <input type="number" name="PostsPerPage" value="@Model.Settings.PostsPerPage" />
                    </label>

                    <fieldset>
                        <input type="checkbox" id="ShowHomeLink" name="ShowHomeLink" @If.Settings.ShowHomeLink checked="checked" @EndIf><label for="ShowHomeLink">Show Home Link on Menu</label>
                    </fieldset>

                    <button type="submit" class="success button"><i class="fa fa-check"></i> Save Settings</button>
                </div>
                
                <div id="settings-account" class="settings-tab hide">
                    <h4>Account Settings</h4>
                    <label>Name
                        <input type="text" name="AdminName" value="@Model.Settings.AdminName" />
                    </label>

                    <label>Email address
                        <input type="text" name="AdminEmail" value="@Model.Settings.AdminEmail" />
                    </label>

                    <label>Password
                        <input type="text" name="AdminPassword" value="@Model.Settings.AdminPassword" />
                    </label>

                    <button type="submit" class="success button"><i class="fa fa-check"></i> Save Settings</button>
                </div>
            </form>

            <div id="settings-import" class="settings-tab hide">
                <h4>Import from Ghost blog</h4>
                <form action="/admin/import" method="POST" enctype="multipart/form-data">
                    <fieldset>
                        <label for="file">Select import data
                            <input type="file" id="file" name="file" />
                        </label>
                    </fieldset>

                    <input type="hidden" name="type" value="ghost" />
                    <button type="submit" class="success button"><i class="fa fa-check"></i> Upload</button>
                </form>
            </div>
        </div>
    </div>
</div>
@EndSection