/****** MAIN ******/
body, html {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 79.1%;
  color: #404040;
}

a {
  color: #404040;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #707070;
  text-decoration: none;
}


/****** HEADER ******/
.navbar {
  background-color: #f5f8fa;
  margin: 0;
  border: 0;
}
.navbar .nav li a {
  text-transform: uppercase;
  font-size: 1.4em;
  color: #555;
}
.navbar .nav li a:hover,
.navbar .nav li a:focus {
  background-color: #E5E8EA;
}
.navbar-collapse {
  border: 0;
}
.navbar h1 {
  font-size: 18px;
}

.intro-header {
  background-color: #f5f8fa;
  margin-bottom: 30px;
  text-align: center;
}
.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  padding: 30px 0 50px;
}
.intro-header .site-heading h1,
.intro-header .page-heading h1 {
  margin-top: 0;
  font-size: 5em;
}
.intro-header .post-heading h1 {
  font-size: 3.5em;
}
.intro-header .subheading {
  font-size: 2.4em;
  line-height: 1.1;
  display: block;
  margin: 10px 0 0;
}
.intro-header .post-heading .subheading {
  font-size: 2.4em;
  margin: 10px 0 30px;
  font-weight: 600;
}
.intro-header .post-heading .meta {
  line-height: 1.1;
  display: block;
  font-style: italic;
  font-weight: 300;
  font-size: 2em;
}
.intro-header .post-heading .meta a {
  color: white;
}


/****** POST LIST ******/
.post-preview {
  padding: 0 15px;
}
.post-preview .post-title {
  font-size: 2.6em;
  margin-top: 30px;
}
.post-preview .post-subtitle {
  font-size: 1.8em;
  margin: 0 0 10px;
}
.post-preview .post-meta {
  color: #808080;
  font-size: 1.4em;
  font-style: italic;
}

.section-heading {
  font-size: 3.6em;
  margin-top: 60px;
  font-weight: 700;
}
.caption {
  text-align: center;
  font-size: 1.4em;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}


/****** PAGING ******/
.pager {
  margin: 20px 0 0;
}
.pager li a {
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 15px 25px;
  background-color: white;
  border-radius: 0;
  color: #808080;
}
.pager li > a:hover,
.pager li > a:focus {
  background-color: white;
  color: #505050;
  border-color: #888;
}


/****** POST CONTENT ******/
article a {
  color: #337ab7;
}
article p {
  font-size: 2em;
  margin-bottom: 22px;
}
article blockquote {
  color: #808080;
  font-style: italic;
  font-size: 1em;
  border-left: 6px solid #ccc;
}
article hr {
  border-top: 1px solid #ccc;
}
article h1 {
  font-size: 4.4em;
  margin-bottom: 20px;
}
article h2 {
  font-size: 3.6em;
  margin-bottom: 14px;
}
article h3 {
  font-size: 2.6em;
  margin-bottom: 14px;
}
article h4, article h4 {
  font-size: 2em;
  margin-bottom: 12px;
}
article pre {
  margin: 20px 0;
  font-size: 2em;
  background-color: #f5f8fa;
  padding: 12px;
}
article p code {
  padding: 3px 4px;
  font-size: 92%;
  background-color: #E8E8E8;
  color: #272727;
}
article ul, article ol {
  font-size: 2em;
  margin-bottom: 22px;
}


/****** FOOTER ******/
footer {
  padding: 50px 0 65px;
}
footer .copyright {
  font-size: 1.4em;
  text-align: center;
  margin-bottom: 0;
}


/****** MEDIA QUERIES ******/

/* Tablet portrait and above */
@media only screen and (min-width: 768px) {
  .navbar .nav li a {
    padding: 20px;
  }

  .intro-header .site-heading,
  .intro-header .post-heading,
  .intro-header .page-heading {
    padding: 60px 0 100px;
  }

  .intro-header .site-heading h1,
  .intro-header .page-heading h1 {
    font-size: 7em;
  }

  .intro-header .post-heading h1 {
    font-size: 5.5em;
  }
  .intro-header .post-heading .subheading {
    font-size: 3em;
  }

  .post-preview {
    padding: 0;
  }
  .post-preview .post-title {
    font-size: 3em;
  }
  .post-preview .post-subtitle {
    font-size: 2em;
  }
  .post-preview .post-meta {
    font-size: 1.6em;
  }
}