@Master['layouts/main.html']

@Section['Header']
<div class="site-heading">
    <h1>@Model.Settings.SiteTitle</h1>
    <span class="subheading">@Model.Settings.SiteSubTitle</span>
</div>
@EndSection

@Section['Content']
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            @Each.Posts
            <div class="post-preview">
                <a href="@Model.Settings.SiteUrl/@Current.Slug">
                    <h2 class="post-title">@Current.Title</h2>
                    <h3 class="post-subtitle">@Current.Excerpt</h3>
                </a>
                <p class="post-meta">@Current.FriendlyPublishDate</p>
            </div>
            <hr />
            @EndEach

            <ul class="pager">
                @If.PrevPageCheck
                <li class="previous">
                    <a href="@Model.Settings.SiteUrl/?page=@Model.PrevPage">&larr; Newer Posts</a>
                </li>
                @EndIf
                @If.NextPageCheck
                <li class="next">
                    <a href="@Model.Settings.SiteUrl/?page=@Model.NextPage">Older Posts &rarr;</a>
                </li>
                @EndIf
            </ul>
        </div>
    </div>
</div>
@EndSection