@Master['layouts/main.html']

@Section['Header']
<div class="post-heading">
    <h1>@Model.Post.Title</h1>
    <span class="meta">Published @Model.Post.FriendlyPublishDate</span>
</div>
@EndSection

@Section['Content']
<article>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                @Model.Post.HtmlBody
            </div>
        </div>
    </div>
</article>
@EndSection